/* css/thread-style.css */

body {
	background-color: #121212;
	color: #fff;
	font-family: 'Arial', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h2 {
	text-align: center;
}

nav {
	background-color: #333;
	padding: 1em;
	display: flex;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
}

main {
	padding: 20px;
	flex: 1;
	/* Make the main content flex-grow to fill the remaining space */
}

.individual-discussion {
	margin-bottom: 20px;
}

.individual-discussion h2 {
	color: #4CAF50;
}

.comments {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment {
	background-color: #333;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.user-profile {
	display: flex;
	align-items: center;
}

.user-profile img {
	border-radius: 50%;
	margin-right: 10px;
}

.profilepic {
	width: 25px;
}

.user-info {
	margin: 0;
	font-size: 1.1em;
	color: #ccc;
}

.user-info strong {
	margin-right: 8px;
}

.user-info i {
	margin-right: 8px;
}

.user-info b.light-text {
	margin-right: 6px;
}

.comment p {
	color: #ccc;
}

.footer {
	background-color: #333;
	padding: 1em;
	text-align: center;
}

.comment-form-container {
	background-color: #333;
	padding: 1em;
	text-align: center;
}

.comment-input {
	display: flex;
	align-items: center;
}

.comment-form-container h3 {
	color: #4CAF50;
	margin-bottom: 10px;
}

.comment-form-container input {
	flex: 1;
	padding: 8px;
	margin-right: 10px;
	box-sizing: border-box;
}

.comment-form-container button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.comment-form-container button:hover {
	background-color: #45a049;
}