<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Team Work Discussion Forum</title>
	<link rel="stylesheet" href="css/index-style.css">
</head>

<body>
    <script src="/js/index-js.js" defer></script>
	<header>
		<h1>Team Work Discussion Forum</h1>
		<p>Join the community and collaborate with your team!</p>
	</header>

	<nav>
		<ul>
			<li><a id="home-button" href="/home">Home</a></li>
		</ul>
	</nav>

	<footer>
		<p>&copy; 2023 Team Work Discussion Forum</p>
	</footer>

</body>

</html>